body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.eyes {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 70px;
  height: 60px;
  background: white;
  border: 3px solid black;
  top: 40px;
  display:inline-block;
  margin: 45px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  left: 20px;
}
.ball {
  width: 30px;
  height: 30px;
  background:black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

